@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .color-hover:hover {
    color: rgb(245 158 11);
    transition: color 1s;
  }
  .color-hover {
    color: black;
  }
}

html,
body {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.dropdown:hover .dropdown-menu {
  display: block;
}
